<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<xml bitmap="2" bgcolor="#B9E1E1" fgcolor="#ec136c">
    <text mode="1" x="1" y="1" bgcolor="#006070" fgcolor="white" size="1" name="DrawBelt" width="26">-乐诚国际电商条码系统--</text>
    <text mode="1" size="1" x="2" y="3" fgcolor="black">ID:</text>
    <text mode="1" size="1" x="8" y="3" fgcolor="black">@ViewData["userid"]</text>
    <text mode="1" x="2" y="5" size="1" fgcolor="red">请先到系统中查找店铺ID</text>
    <text mode="1" x="2" y="8" size="1" fgcolor="black">店铺ID</text>
    <input mode="1" x="8" y="8" size="1" type="1" param="shopid" focus="1" width="16" method="1" len="20" default="@ViewData["currshopid"]"></input>
    <text mode="1" x="2" y="11" size="1" fgcolor="black">SKU</text>
    <input mode="1" x="8" y="11" size="1" type="1" param="skucode" focus="2" width="16" method="2" len="20"></input>
    <button mode="1" size="1" x="1" y="19" url="/FirstDistrbuilt" key="a" func="1" value="" bgcolor="forestgreen" fgcolor="khaki">[返回]</button>
    <button mode="1" size="1" x="16" y="19" url="/RShopFirstDistrbuilt" key="b" func="2" value="" bgcolor="forestgreen" fgcolor="khaki">[确定]</button>
</xml>
@{
    Layout = null;
}
