@{
    ViewBag.Title = "GetSendOrderList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var list = ViewBag.List as List<DBModel.ViewModel.Order.SendOrder>;
}

@section head{}
<div class="tab-pane " id="contact2">
    <div style="margin : 15px 0px 15px 0px;">
        <label>平台选择:&nbsp;&nbsp;</label>
        <select style="width:180px">
            <option value="0" selected>Q10</option>
            <option value="1">乐天</option>
            <option value="2">亚马逊</option>
            <option value="3">雅虎</option>
            <option value="4">Wish</option>
            <option value="5">EBay</option>
            <option value="6">DENA</option>
            <option value="7">速卖通</option>
        </select>&nbsp;&nbsp;
        <label>店铺:&nbsp;&nbsp;</label>
        <select style="width:180px">
            <option value="0" selected>Lovepocket</option>
            <option value="1">anneybaby</option>
            <option value="2">jpdress</option>
        </select>&nbsp;&nbsp;
    </div>
    <div>
        <label>转运单号:&nbsp;&nbsp;</label>
        <input type="" name="" placeholder="转运单号">
        <button class="btn btn-success">查询</button>
    </div>
    <div>
        <span class="col-md-4"></span>
        <span class="col-md-4" style="text-align:center">
            <button class="btn btn-info " style="width:50%;">导出</button>
        </span>
        <span class="col-md-4"></span>
    </div>
    <div>
        <table class="table table-hover general-table">
            <thead>
                <tr>
                    <th>平台订单号</th>
                    <th>包裹号</th>
                    <th>快递类型</th>
                    <th>快递单号</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in list)
                {
                    <tr>
                        <td>@item.custorder_code</td>
                        <td>@item.order_code</td>
                        <td>@item.express_name</td>
                        <td>@item.exp_code</td>
                    </tr>
                }
            
            </tbody>
        </table>
    </div>
</div>